

<Page xmlns="http://schemas.nativescript.org/tns.xsd"
xmlns:PullRefresh="nativescript-pulltorefresh"
loaded="pageLoaded">

  <GridLayout rows="*, auto" columns="*">
    <PullToRefresh (refresh)="refreshList($event)" $event="event">
        <StackLayout row="0" class="list-group">
            <Label [text]="echo.date | timeAgo" textWrap="true" class="time"></Label>
            <Label [text]="echo.name" class="main"></Label>
            <Image *ngIf="echo.img != null && showImage == true" [src]="echo.img.url" height="auto" stretch="none" verticalAlignment="center" horizontalAlignment="center" (tap)="toggleShowImg()"></Image>
            <Button *ngIf="showImage == false" text="Spoiler" (tap)="toggleShowImg()" background-color="cyan" ></Button>
        </StackLayout>
    </PullToRefresh>
    <FAB (tap)="onTapAdd()" icon="res://ic_add_white" rippleColor="#f1f1f1" class="fab-button"></FAB>
  </GridLayout>

</Page>